<nav class="navbar navbar-expand-lg" style="background-color: #0089b3;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/primer-dia">primer dia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/segundo-dia">segundo dia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tercer-dia">tercer dia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/proyecto-final">proyecto final</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet/>