<div class="card">
    <img src="/assets/vaultboy.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Guardar datos</h5>
      <h5>{{card.title}}</h5>
      <p class="card-text">ejercicio para guardar datos.</p>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Guardar</button>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{modal.title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{modal.description}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <h3>yo soy padre, {{ejemplo}} y el id del usuario es: {{usuario}}</h3>
